.grid-container {
    font-family: 'Corinthia', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item1 {
    background-color: rgb(190, 223, 197);
    padding-top: 15px;
    font-size: 75px;
    text-align: center;
    border-radius: 9999px;
    height: 100px;
    width: 500px;
    margin: 50px;
}

.grid-item2 {
    background-color: rgb(190, 223, 197);
    font-size: 140px;
    margin: 50px;
    text-align: center;
    border-radius: 9999px;
    width: 650px;
}

.grid-item3 {
    background-color: rgb(190, 223, 197);
    font-size: 50px;
    text-align: center;
    border-radius: 9999px;
    height: 100px;
    padding-top: 40px;
    margin: 50px;
    width: 400px;
}

.grid-item4 {
    margin-left: 150px;
    background-color: rgb(190, 223, 197);
    font-size: 50px;
    text-align: center;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item5 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    margin: 50px;
    height: 100px;
    width: 650px;
    margin-top: 60px;
}

.grid-item6 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    border-radius: 9999px;
    margin-top: -10px;
    margin-left: 130px;
    display: flex;
    width: 155px;
    height: 100px;
    align-items: center;
}

.grid-item7 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin-top: 150px;
    margin-left: 50px;
    width: 500px;
    height: 388px;
}

.grid-item8 {
    background-color: rgb(190, 223, 197);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -30px 50px;
    height: 500px;
    width: 650px;
}

.grid-item9 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    margin-top: -100px;
    margin-left: 115px;
    width: 300px;
    height: 388px;
}

.grid-item10 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
}

.grid-item11 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
    width: 650px;
    height: 241px;
    margin: 50px;
}

.grid-item12 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item13 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item14 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item15 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item16 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item17 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item18 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.content {
    height: 2000px;
    background-color: rgb(255, 245, 235);
    font-size: 36px;
    margin: -8px;
}

.soundcloud {
    border-radius: 9999px;
}

.rain {
    border-radius: 29px;
    width: 100%;
    height: 100%;
}

.clock {
    width: 100%;
    height: 100%;
}

.avatar{
    height: 100%;
    width: 100%;
    border-radius: 9999px;
}

.quotes {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.ins{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 27px;
}