/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

/* Global */

body {
    background: rgb(190, 223, 197);
}

/* Navigation bar */

#logo {
    width: 53px;
    height: 59px;
}

.nav {
    overflow: hidden;
    width: 100%;
    height: 59px;

}

.right-menu {
    float: right;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-top: 10px;
}

.right-menu a {
    border-radius: 9999px;
    font-family: "Montserrat", sans-serif;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 14px;
    transition: 200ms;
    cursor: pointer;
}

.right-menu a:hover {
    background-color: white;
    color: rgb(190, 223, 197);
}


/* Introduce */

.introduce {
    margin-top: calc(2% + 5px);
    width: 100%;
    height: 80%;
}

.introduce img {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}


/* Animation */

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    filter: invert(1);
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0px);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}

/* Footer */
footer img {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/*parallax*/
.parallax {
    /* The image used */
    background-image: url("/assets/img/snow-forest.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 359px;
    margin: -8px;
}


/*css grid*/
.grid-container {
    font-family: 'Corinthia', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item1 {
    background-color: rgb(190, 223, 197);
    font-size: 75px;
    text-align: center;
    border-radius: 9999px;
    height: 125px;
    width: 500px;
    margin: 50px;
}

.grid-item2 {
    background-color: rgb(190, 223, 197);
    font-size: 140px;
    margin: 50px;
    text-align: center;
    border-radius: 9999px;
    width: 650px;
}

.grid-item3 {
    background-color: rgb(190, 223, 197);
    font-size: 50px;
    text-align: center;
    border-radius: 9999px;
    height: 100px;
    padding-top: 25px;
    margin: 50px;
    width: 400px;
}

.grid-item4 {
    margin-left: 150px;
    font-size: 50px;
    text-align: center;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item5 {
    font-size: 30px;
    text-align: center;
    margin: 50px;
    height: 100px;
    width: 650px;
    margin-top: 60px;
}

.grid-item6 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    border-radius: 9999px;
    margin-top: -10px;
    margin-left: 130px;
    display: flex;
    width: 155px;
    height: 100px;
    align-items: center;
}

.grid-item7 {
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin-top: 175px;
    margin-left: 50px;
    width: 500px;
    height: 340px;
}

.grid-item8 {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -30px 50px;
    height: 500px;
    width: 650px;
}

.grid-item9 {
    font-size: 30px;
    text-align: center;
    margin-top: -100px;
    margin-left: 115px;
    width: 300px;
    height: 388px;
}

.grid-item10 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item11 {
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
    width: 650px;
}

.grid-item12 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item13 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item14 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item15 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item16 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item17 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.grid-item18 {
    background-color: rgb(190, 223, 197);
    font-size: 30px;
    text-align: center;
    border-radius: 9999px;
    margin: 50px;
}

.content {
    height: 2000px;
    background-color: rgb(255, 245, 235);
    font-size: 36px;
    margin: -8px;
}

.soundcloud {
    border-radius: 9999px;
}

.rain {
    border-radius: 29px;
    width: 100%;
    height: 100%;
}

.clock {
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 42px;
}

.avatar{
    height: 100%;
    width: 100%;
    border-radius: 9999px;
}

.quotes {
    width: 100%;
    min-height: fit-content;
    border-radius: 25px;
}

.ins{
    display: flex;
    width: 50%;
    height: 50%;
    margin: 27px;
}